body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  margin: 0;
}

* {
  box-sizing: border-box;
}

button {
  padding: 0;
  background-color: transparent;
  border: none;
}

i {
  transition: 0.2s;
}

i:hover {
  transform: scale(1.3);
}

.fa-times {
  color: red;
}

.fa-check {
  color: #00c853;
}

.fa-plus {
  color: #096ad6;
}
